<mat-card>
  <mat-card-header>
    <div style="display: flex; justify-content: start">
      <div style="flex-grow: 1">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <div style="flex-grow: 1">
        <mat-card-title>Variant Plot</mat-card-title>
        <mat-card-subtitle>The following plot combine Alphamissense data and user input</mat-card-subtitle>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div>
      <form [formGroup]="form">
        <mat-checkbox formControlName="showbackground">
          Show alphamissense only background data point
        </mat-checkbox>
      </form>

    </div>
    <plotly-plot [config]="config" [data]="graphData" [layout]="graphLayout" [updateOnDataChange]="true" [updateOnLayoutChange]="true"
                 [useResizeHandler]="true" (legendClick)="legendClickHandler($event)" (plotlyClick)="clickHandler($event)"
    ></plotly-plot>
  </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openLegendOrder()">Legend Order</button>
  <button mat-menu-item (click)="openLegendRename()">Legend Rename</button>
  <button mat-menu-item (click)="openPathogenicityFilter()">Advanced Filter</button>
  <button mat-menu-item (click)="openColorPicker()">Legend Color Editor</button>
  <button mat-menu-item (click)="openCustomDomains()">Domains Editor</button>
  <button mat-menu-item (click)="openAnnotationEditor()">Annotation Editor</button>
</mat-menu>
