<h1 mat-dialog-title>Find Overlap</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Available Datasets</mat-label>
      <mat-select formControlName="selectedData" multiple>
        <mat-option *ngFor="let d of dataLabels" [value]="d">
          {{d}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="form.value.selectedData" cdkFocusInitial>Submit</button>
</div>
