<mat-drawer-container autosize class="drawer-container">
  <mat-drawer #drawer mode="side" class="drawer-sidenav-content">
    <div style="display: flex; justify-content: center; padding: 20px">
      <div aria-label="circular logo" class="image-cropper">
        <div class="chorus-logo">
          <img src="assets/logo.png" alt="logo" height="200" width="200"/>
        </div>
      </div>
    </div>
    <div style="padding: 20px">
      <app-file-input (saveFile)="fileHandler($event)"></app-file-input>
      <hr>
      <app-prebuilt-session-selection (sessionData)="loadPrebuiltHandler($event)"></app-prebuilt-session-selection>
    </div>

  </mat-drawer>
  <mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Chorus</span>
    <span class="spacer"></span>
    <button aria-label="Save file" mat-icon-button (click)="saveFile()">
      <mat-icon>save</mat-icon>
    </button>
    <button aria-label="Restore file" mat-icon-button (click)="reloadFile.click()">
      <mat-icon>restore</mat-icon>
    </button>
  </mat-toolbar>
  <div style="display: flex; padding: 20px">
    <div style="margin-right: 20px">
      <app-protein-selection (search)="searchForVariantUsingProtein($event)"></app-protein-selection>
    </div>
    <div>
      <app-variant-search (search)="searchVariantsHandler($event)"></app-variant-search>
    </div>
  </div>
  <div style="padding: 20px">
    <app-variant-plot *ngIf="results.length > 0" [data]="results[0]"></app-variant-plot>
  </div>
  <div style="padding: 20px">
    <app-data-viewer [data]="filteredData" *ngIf="filteredData.length>0"></app-data-viewer>
  </div>
</mat-drawer-container>


<input type="file" id="file" #reloadFile hidden style="display: none" (change)="reloadFileHandler($event)">
