<div *ngFor="let v of data" style="padding-bottom: 20px">
  <mat-card style="background-color: rgba(252,240,237,0.73)">
    <mat-card-header>
      <mat-card-title>
        <span style="color: #bb8182">{{v.original}}</span><span>{{v.position}}</span><span [ngStyle]="{'color': settings.settings.color_map[v.pathogenicity]}">{{v.mutated}}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <p>
          Alphamissense: <span [ngStyle]="{'color': settings.settings.color_map[v.pathogenicity]}"><b>{{v.pathogenicity}}({{v.score}})</b></span>
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="formMap[v.original+v.position+v.mutated]">
        <mat-checkbox formControlName="annotate">
          Annotate on plot
        </mat-checkbox>
      </form>
      <app-data-details [data]="settings.settings.selected[v.position][v.original][v.mutated]"></app-data-details>
    </mat-card-content>
  </mat-card>
</div>
